/** Extras **/

dt#type-calculated {
  display: none;
}

#module-type-FlatListComponent, #module-CreateComponent, #module-CreateComponent ~ div > .include.spec details summary {
  display: none;
}

#module-type-FlatListComponent, #module-CreateComponent, #module-CreateComponent ~ div > .include.spec details {
  overflow: hidden;
}

#module-CreateComponent ~ div dl {
  display: flex;
  flex-direction: column-reverse;
}

.content > dl > dd {
  padding: 0;
  padding-top: 0.75em;
}
